<launch>
	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_base_link" args="0 0 0 0 0 0 1 odom base_link 100"/>

	<node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_fixed_xtion" args="-.225 0.055 1.225 0.0 0.300705799504 0.0 0.953716950748 base_link xtion_link 100"/><!-- needs to be fixed -->
</launch>
